<%# 削除ボタン押すとしたの画面に遷移する %>
<div class="contents row">
  <div class="success">
      削除が完了しました。
    </h3>
    <a class="btn" href="/">投稿一覧へ戻る</a>
    <%# ここで↑ボタン押すと「ルート（/）」へ移動する %>
    <%# これだけではだめ。ルーティングで「ルート（/）」はどこかを指定しておく %>
  </div>
</div>
