<h1>ここに別ページ作りたい</h1>

<div class="k_main__mainVisual">
<div class="k_main__mainVisual__content"></div>
<div class="k_main__mainVisual__subtitle">
オリンピックを観戦してさらなる感動を！
</div>


  <p><img src="2020_04_15_13.01.45.jpg" usemap="#Map" width="250" height="208" alt="メニュー">
  </p>