
  <h1>ここに別ページ作りたい</h1>

  <div class="k_main__mainVisual">
  <div class="k_main__mainVisual__content"></div>
  <div class="k_main__mainVisual__subtitle">
  オリンピックを観戦してさらなる感動を！
  </div>


  
  <div class='select-sports'>
    <p>好きなスポーツ</p>
    <select name="Favorite competition">
      <option value="選択してください">選択してください</option>
      <option value="陸上">陸上</option>
      <option value="水泳">水泳</option>
      <option value="サッカー">サッカー</option>
      <option value="野球">野球</option>
      <option value="ソフトボール">ソフトボール</option>
      <option value="ハンドボール">ハンドボール</option>
      <option value="バスケットボール">バスケットボール</option>
      <option value="バレーボール">バレーボール</option>
      <option value="ホッケー">ホッケー</option>
      <option value="ラグビー">ラグビー</option>
      <option value="カヌー">カヌー</option>
      <option value="ヨット">ヨット</option>
      <option value="卓球">卓球</option>
      <option value="テニス">テニス</option>
      <option value="バドミントン ">バドミントン </option>
      <option value="柔道">柔道</option>
      <option value="空手">空手</option>
      <option value="フェンシング">フェンシング</option>
      <option value="アーチェリー">アーチェリー</option>
      <option value="体操">体操</option>
      <option value="バイク">バイク</option>
      <option value="近代五種">近代五種</option>
      <option value="ゴルフ">ゴルフ</option>
      <option value=""></option>
      
    </select>
  </div>