
  <div class="plus-header">
    <h2>最初に選択されている項目を切り替える</h2>
    <form id="form">
      <select name="select">
      <option value="index.html">日本語</option>
      <option value="index-en.html">English</option>
      <option value="index-zh.html">中文</option>
      </select>
    </form>
    <h2>日本語の東京2020の公式ページへ</h2>
    <script src="script.js"></script>
    
  </div>
  <div class="k_main__mainVisual">
  <div class="k_main__mainVisual__content"></div>
  <div class="k_main__mainVisual__subtitle">
  オリンピックを観戦してさらなる感動を！
  </div>

  <div class='select-sports'>
    <p>好きなスポーツ</p>
      <form>
      <select name="sel2">
      <option value="#"></option>
      <option value="選択してください">選択してください</option>
      <option value="https://tokyo2020.org/ja/sports/athletics/">陸上</option>
      <option value="https://tokyo2020.org/ja/sports/swimming/">水泳</option>
      <option value="https://tokyo2020.org/ja/sports/baseball-softball/">野球・ソフトボール</option>
      <option value="https://tokyo2020.org/ja/sports/football/">サッカー</option>
      <option value="https://tokyo2020.org/ja/sports/handball/">ハンドボール</option>
      <option value="https://tokyo2020.org/ja/sports/basketball/">バスケットボール</option>
      <option value="https://tokyo2020.org/ja/sports/volleyball/">バレーボール</option>
      <option value="https://tokyo2020.org/ja/sports/hockey/">ホッケー</option>
      <option value="https://tokyo2020.org/ja/sports/rugby/">ラグビー</option>
      <option value="https://tokyo2020.org/ja/sports/canoe-slalom/">カヌー</option>
      <option value="https://tokyo2020.org/ja/sports/sailing/">セーリング</option>
      <option value="https://tokyo2020.org/ja/sports/table-tennis/">卓球</option>
      <option value="https://tokyo2020.org/ja/sports/tennis/">テニス</option>
      <option value="https://tokyo2020.org/ja/sports/badminton/ ">バドミントン </option>
      <option value="https://tokyo2020.org/ja/sports/judo/">柔道</option>
      <option value="https://tokyo2020.org/ja/sports/karate/">空手</option>
      <option value="https://tokyo2020.org/ja/sports/fencing/">フェンシング</option>
      <option value="https://tokyo2020.org/ja/sports/archery/">アーチェリー</option>
      <option value="https://tokyo2020.org/ja/sports/artistic-gymnastics/">体操競技</option>
      <option value="https://tokyo2020.org/ja/sports/weightlifting/">ウェイトリフティング</option>
      <option value="https://tokyo2020.org/ja/sports/cycling-bmx-racing/">バイク（BMX）</option>
      <option value="https://tokyo2020.org/ja/sports/modern-pentathlon/">近代五種</option>
      <option value="https://tokyo2020.org/ja/sports/golf/">ゴルフ</option>
      <option value="https://tokyo2020.org/ja/sports/triathlon/">トライアスロン</option>
      </select>
      <input type=button onClick="top.location.href=sel2.value" value="Jump!">
      </form>
  </div>
  <div class="venue-place">
  会場
  </div>  
  <div class="image-link">
    <img src="/images/2020.png" usemap="#ImageMap" alt="自転車競技1（BMXレーシング）" width="1200px" height="400px"/>
  </div>

  <div class="image-discipline">
    <img src="/images/2020-05-25 23.40.11.png" usemap="#ImageMap" href="https://tokyo2020.org/ja/sports/tennis/" width="1200px" height="400px" alt="競泳"/>
    <img src="/images/2020_tennis.png" usemap="#ImageMap" href="https://tokyo2020.org/ja/sports/tennis/" width="1200px" height="400px" alt="テニス"/>
    <map name="ImageMap">
      <area shape="poly" coords="12,6,1011,472"  alt="テニスのリンク"/>
    </map>
    <img src="/images/2020-05-25 23.39.33.png" usemap="#ImageMap" href="https://tokyo2020.org/ja/sports/tennis/"  width="1200px" height="400px" alt="野球"/>
    <img src="/images/2020-05-25 23.39.44.png" usemap="#ImageMap" href="https://tokyo2020.org/ja/sports/tennis/" width="1200px" height="400px" alt="バスケットボール"/>
  </div>