<h1>ここに別ページ作りたい</h1>

<div class="k_main__mainVisual">
<div class="k_main__mainVisual__content"></div>
<div class="k_main__mainVisual__subtitle">
オリンピックを観戦してさらなる感動を！
</div>
<p>
</p><div class="k_main__mainVisual__subtitle__text">
<%# だれでもカンタンに出品・購入できる %>
<br>
<%# フリマアプリです %>
<div class="k_main__mainVisual__subtitle__btn">
<img class="k_main__mainVisual__subtitle__btn__a" src="/assets/app-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg">
<img class="k_main__mainVisual__subtitle__btn__b" src="/assets/google-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg">
</div>
</div>
<p></p>
</div>